.pagination {
  display: flex;
  margin: 2px;
  /* background-color: aqua; */
  align-items: center;
  justify-content: center;
}

.page{
  display: flex;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page:hover{
  background-color: #1f89ec;
  transform: scale(1.1);
}

.reps{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}